<?xml version="1.0"?>

<model>
  <name>Atalef with Betaflight</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
  </author>

  <description>
    An Atalef drone flown by a Betaflight SITL flight controller, with
    a LIDAR facing downwards,
    a down facing camera
    and a front facing camera on gimbal.
  </description>
  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>2.0</version>
    </model>
    <model>
      <uri>model://fixed_camera</uri>
      <version>2.0</version>
    </model>
    <model>
      <uri>model://lidar_down</uri>
      <version>2.0</version>
    </model>
    <model>
      <uri>model://gimbal_3d</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>
